<a href="https://colab.research.google.com/github/SHivaKUmar212001/My_Blog/blob/main/Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=9
print("Diamond")
for a in range(1,(n+1)//2+1):
  for b in range((n+1)//2-a):
    print(" ",end="")
  for c in range((a*2)-1):
    print("*",end="")
  print()

for a in range((n)//2,n+1):
  for b in range(a-((n)//2)):
    print(" ",end="")
  for c in range((n-a)*2 - 1):
    print("*",end="")
  print()

Diamond
    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
for a in range(9):
  for b in range(9):
    if a+b==6 or a-b==6 or b-a==6 or b+a==10:
      print("*",end="")
    else:
      print(end=" ")
  print()

      *
     * *
    *   *
   *   *
  *   *
 *   *
*   *
 * *
  *

In [ ]:
for a in range(8):
  for b in range(5):
    if a==0 or a==7 or b==0 or b==4:
      print("0",end=" ")
    else:
      print(" ",end=" ")
  print()

0 0 0 0 0
0       0
0       0
0       0
0       0
0       0
0       0
0 0 0 0 0

In [ ]:
for a in range(9):
  for b in range(5):
    if a==0 or a==8 or a==4 or b==0 or b==4:
      print("8",end=" ")
    else:
      print(" ",end=" ")
  print()

8 8 8 8 8
8       8
8       8
8       8
8 8 8 8 8
8       8
8       8
8       8
8 8 8 8 8

In [ ]:
for a in range(4):
  for b in range(5):
    if a==0 or a==3 or b==0 or b==4:
      print("9",end=" ")
    else:
      print(" ",end=" ")
  print()

for a in range(4):
  for b in range(5):
    if a==3 or b==4:
      print("9",end=" ")
    else:
      print(" ",end=" ")
  print()

9 9 9 9 9
9       9
9       9
9 9 9 9 9
        9
        9
        9
9 9 9 9 9

In [ ]:
for a in range(4):
  for b in range(5):
    if a==0 or b==0:
      print("6",end=" ")
    else:
      print(" ",end=" ")
  print()

for a in range(4):
  for b in range(5):
    if a==0 or a==3 or b==0 or b==4:
      print("6",end=" ")
    else:
      print(" ",end=" ")
  print()

6 6 6 6 6
6
6
6
6 6 6 6 6
6       6
6       6
6 6 6 6 6

In [ ]:
for a in range(8):
  for b in range(5):
    if a==0 or b==4:
      print("7",end=" ")
    else:
      print(" ",end=" ")
  print()

7 7 7 7 7
        7
        7
        7
        7
        7
        7
        7

In [ ]:
for a in range(5):
  for b in range(5):
    if a==0 or a==4 or b==0:
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()
for a in range(4):
  for b in range(5):
    if a==3 or b==4:
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()

5 5 5 5 5
5
5
5
5 5 5 5 5
        5
        5
        5
5 5 5 5 5

In [ ]:
for a in range(5):
  for b in range(5):
    if a==4 or b==0 or b==4:
      print("4",end=" ")
    else:
      print(" ",end=" ")
  print()
for a in range(4):
  for b in range(5):
    if b==4:
      print("4",end=" ")
    else:
      print(" ",end=" ")
  print()

4       4
4       4
4       4
4       4
4 4 4 4 4
        4
        4
        4
        4

In [ ]:
for a in range(9):
  for b in range(5):
    if a==0 or a==8 or a==4 or b==4:
      print("3",end=" ")
    else:
      print(" ",end=" ")
  print()

3 3 3 3 3
        3
        3
        3
3 3 3 3 3
        3
        3
        3
3 3 3 3 3

In [ ]:
for a in range(5):
  for b in range(5):
    if a==0 or a==4 or b==4:
      print("2",end=" ")
    else:
      print(" ",end=" ")
  print()
for a in range(4):
  for b in range(5):
    if a==3 or b==0:
      print("2",end=" ")
    else:
      print(" ",end=" ")
  print()

2 2 2 2 2
        2
        2
        2
2 2 2 2 2
2
2
2
2 2 2 2 2

In [ ]:
for a in range(5):
  for b in range(5):
    if a==0 or a==4 or b==0:
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()
for a in range(4):
  for b in range(5):
    if a==3 or b==4:
      print("5",end=" ")
    else:
      print(" ",end=" ")
  print()

print("       ")
print("       ")
for a in range(9):
  for b in range(5):
    if a==4 or b==0 or b==4:
      print("8",end=" ")
    else:
      print(" ",end=" ")
  print()
print("       ")
print("       ")
for a in range(9):
  for b in range(5):
    if a==8 or a==0 or b==2:
      print("8",end=" ")
    else:
      print(" ",end=" ")
  print()
print("       ")
print("       ")
for a in range(9):
  for b in range(5):
    if a==0 or a==8 or a==4 or b==0 or b==4:
      print("8",end=" ")
    else:
      print(" ",end=" ")
  print()
print("       ")
print("       ")
for a in range(9):
  for b in range(5):
    if a==0 or a==4 or b==0 or b==4:
      print("8",end=" ")
    else:
      print(" ",end=" ")
  print()

5 5 5 5 5
5
5
5
5 5 5 5 5
        5
        5
        5
5 5 5 5 5


8       8
8       8
8       8
8       8
8 8 8 8 8
8       8
8       8
8       8
8       8


8 8 8 8 8
    8
    8
    8
    8
    8
    8
    8
8 8 8 8 8


8 8 8 8 8
8       8
8       8
8       8
8 8 8 8 8
8       8
8       8
8       8
8 8 8 8 8


8 8 8 8 8
8       8
8       8
8       8
8 8 8 8 8
8       8
8       8
8       8
8       8